body {
  background-color: black;
  height: 100dvh;
  margin: 0px;
  width: 100dvw;
}

div#terminal {
  height: calc(100% - 16px);
  margin: 8px;
  width: calc(100% - 16px);
}

div#terminal[disabled="true"] {
  opacity: 0.5;
}
